@import '../../../../index.scss';

.shape-bar {
  position: relative;
  top: 0;
  left: 0;
  padding-left: 0;

  &__setting {
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    left: 70px;
    box-sizing: border-box;
    background-color: $main-color;
    padding: 3px;
  }

  &__setting::after {
    content: '';
    width: 12px;
    height: 20px;
    position: absolute;
    top: 12px;
    left: -12px;
    clip-path: polygon(0 50%, 100% 100%, 100% 0);
    background-color: $main-color;
  }

  &__item {
    list-style-type: none;
    margin-right: 3px;
  }

  &__item:last-child {
    margin-right: 0;
  }
}
