@import '../../../index.scss';

.size-bar {
  position: relative;
  top: 0;
  left: 0;

  &__setting {
    width: 180px;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 6px;
    left: 70px;
    padding: 5px;
    box-sizing: border-box;
    background-color: $main-color;
  }

  &__setting::after {
    content: '';
    width: 12px;
    height: 20px;
    position: absolute;
    top: 6px;
    left: -12px;
    clip-path: polygon(0 50%, 100% 100%, 100% 0);
    background-color: $main-color;
  }
}
